<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600168198000-iqulfu47lj2mm76il29rhj01slr7jvk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600168198000-iqulfu47lj2mm76il29rhj01slr7jvk8</string>
	<key>API_KEY</key>
	<string>AIzaSyAmvwGdWVsL4Xjx6GSO_fS0cpbHpQ6ESy8</string>
	<key>GCM_SENDER_ID</key>
	<string>600168198000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jeancesca.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios-2be72</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios-2be72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600168198000:ios:ee6c2a82ab2bec2583a9b5</string>
</dict>
</plist>